/* http://paletton.com/#uid=4481n0k3V4WaYgf7Lb1ac80gJaQ */
body {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
section,
section.highlight,
section.l3heading,
section.l2heading,
section.l1heading {
  padding: 10px 30px;
}
section.highlight,
section.l3heading,
section.l2heading {
  padding: 10px 10px;
  text-align: left;
  font-family: sans-serif;
}
section.l1heading {
  padding: 10px 10px;
  text-align: center;
  font-family: sans-serif;
}
section.l3heading {
  text-align: left;
}
section.l3heading h1 {
  font-weight: normal;
  border-left: 15px solid #54282b;
  padding-left: 10px;
  transition: border-left-color 0.5s;
}
section.l3heading h1:hover {
  border-left: 15px solid #7e5356;
}
section.l2heading,
section.l1heading {
  padding: 20px 20px;
  
  
}

section.l2heading h1 {
  font-size: 18pt;
  color: #b70101;
}
section.l2heading h2 {
  color: #817855;
  font-size: 14pt;
}
section.l1heading {
  padding: 40px 20px;
  background: #b70101;
  color: white;
  
}
section.l1heading h1 {
  font-size: 36pt;
  margin: 0px;
}
section.l1heading h2 {
  font-style: italic;
  font-weight: normal;
}

section.story {
  width: 80%;
  display: inline-block;
}
section.story p {
  text-align: left;
}
.graph-top-nav ul {
  list-style: none;
  text-align: left;
  border-bottom: 1px dotted #32303d;
  margin: 0 0 20px 0px;
  padding: 2px;
}
.graph-top-nav ul li {
  display: inline-block;
  background: #817855;
  margin: 2px;
  padding: 6px;
  transition: background-color 0.25s;
}
.graph-top-nav ul li:hover,
.graph-top-nav ul li.selected {
  background: #a19875;
}
.graph-top-nav ul li a {
  color: #272622;
  text-decoration: none;
  font-size: 13pt;
}
nav {
  background: black;
  color: white;
}
nav ul {
  list-style: none;
  margin: 0px;
}
nav ul li {
  display: inline-block;
  margin: 0px 10px;
  padding: 8px;
}
nav ul li:hover {
  background: #22202c;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16pt;
  min-width: 8em;
  display: inline-block;
}

#top a:hover {
  color: #5b94c5;
  text-decoration: none;
}

#top a:visited {
  color: #5b94c5;
  text-decoration: none;
}

#top a {
  color: #337ab7;
  text-decoration: none;
}

nav ul li a:hover {
  color: white;
  text-decoration: none;
}

.headerImage {
    max-height: 85vh;
    max-width: 85vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sponsorLogo {
    max-width: 90%;
    display: block;
	margin: 20px auto;
    box-shadow: 0em 0em 1em 1em rgba(255, 255,255, 0.1);
    background-color: rgba(255, 255,255, 0.1);
}

.sponsorLogo:hover {
    box-shadow: 0em 0em 1em 1em rgba(255, 255,255, 0.2);
    background-color: rgba(255, 255,255, 0.2);
    opacity: 0.9;
}

.sponsorLogoCol .overlayBlockDark, .sponsorLogoCol .overlayBlock, .sponsorLogoCol .overlayBlockLight  {
    background-color: inherit; /* Kill the noise */
}

section a:focus {
  text-decoration: none;
  color: #337ab7;
}

section a:hover {
  text-decoration: underline;
  color: #5b94c5;
}