/* http://paletton.com/#uid=4481n0k3V4WaYgf7Lb1ac80gJaQ */
body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  
}
section,
section.highlight,
section.main-heading,
section.side-heading,
section.l1heading {
  padding: 10px 30px;
}
section.highlight,
section.main-heading,
section.side-heading {
  /*padding: 10px 10px;*/
  padding: 0px 0px;
  text-align: left;
  font-family: sans-serif;
 
}

section.story p
{
	font-size: 20px;
}

section.l1heading {
  padding: 10px 10px;
  text-align: center;
  font-family: sans-serif;
  
}
section.main-heading {
  text-align: center;
}
section.main-heading h1 {
  font-weight: normal;
  /**border-left: 15px solid #54282b;*/
}

section.side-heading,
section.l1heading {
  padding: 20px 20px;
}

section.side-heading h1 {
  font-size: 18pt;
  color: #54282B;
}
section.side-heading h2 {
  color: #817855;
  font-size: 18pt;
}
#top {
  padding: 40px 20px;
  background: #b70101;
  color: white;
}
#top h1 {
  font-size: 36pt;
  margin: 0px;
}
#top h2 {
  font-style: italic;
  font-weight: normal;
}
#top a:hover {
  color: yellow;
  text-decoration: none;
}

#top a {
  color: gold;
  text-decoration: none;
}
section.story {
  width: 100%;
  display: inline-block;
}
section.story p {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
}
.graph-top-nav ul {
  list-style: none;
  text-align: left;
  border-bottom: 1px dotted #32303d;
  margin: 0 0 20px 0px;
  padding: 2px;
}
.graph-top-nav ul li {
  display: inline-block;
  background: #817855;
  margin: 2px;
  padding: 6px;
  transition: background-color 0.25s;
}
.graph-top-nav ul li:hover,
.graph-top-nav ul li.selected {
  background: #a19875;
}
.graph-top-nav ul li a {
  color: #272622;
  text-decoration: none;
  font-size: 13pt;
}
nav {
  background: black;
  color: white;
}
nav ul {
  list-style: none;
  margin: 0px;
}
nav ul li {
  display: inline-block;
  margin: 0px 10px;
  padding: 8px;
}
nav ul li:hover {
  background: #22202c;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16pt;
  min-width: 8em;
  display: inline-block;
}

nav ul li a:hover {
  color: white;
  text-decoration: none;
}

.headerImage {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sponsorLogo {
    max-width: 90%;
    display: block;
	margin: 20px auto;
    box-shadow: 0em 0em 1em 1em rgba(255, 255,255, 0.1);
    background-color: rgba(255, 255,255, 0.1);
}

.sponsorLogo:hover {
    box-shadow: 0em 0em 1em 1em rgba(255, 255,255, 0.2);
    background-color: rgba(255, 255,255, 0.2);
    opacity: 0.9;
}

.sponsorLogoCol .overlayBlockDark, .sponsorLogoCol .overlayBlock, .sponsorLogoCol .overlayBlockLight  {
    background-color: inherit; /* Kill the noise */
}

section a {
  text-decoration: none;
  color: #b70101;
}

section a:focus {
  text-decoration: none;
  color: #b70101;
}

section a:hover {
  text-decoration: underline;
  color: #54282b;
}

section.notice p {
  text-align: center;
}

.section-heading h1 {
  color: #54282b;
  font-size: 48px;
}

.section-heading h2 {
  color: #54282b;
  font-size: 48px;
}

/* This rule should be removed when hr elements are */
body hr {
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #b70101, rgba(0, 0, 0, 0));
  margin-bottom: 0px;
}

footer {
  height: 50px;
  background-color: black;
}

/* Mobile rules */
@media (max-width: 900px) {
  nav {
    display: none !important;
  }
}